<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja Page</title>
</head>
<body>
    <p>add ninja page</p>
    <form action="/create_ninja" method = "POST">
        <label>First Name:</label>
        <input type="text" name="first_name">
        <label>Last Name:</label>
        <input type="text" name="last_name">
        <label>Age:</label>
        <input type="text" name="age">
        <label>Dojo:</label>
        <select name="dojo_id">
            {% for dojo in full_dojo_list%}
            <option value= {{dojo.id}} >{{dojo.name}}</option>
            {% endfor %}
        </select>
        <br>
        <button class="submitButton">Add New Ninja!</button>
    </form>
    <a href="/">Home Page</a>
</body>
</html>